<div class="continer">
  <div class="row">
    <div class="mx-auto mt-5">
      <h1> Welcome to the fruit store </h1>
    </div>
  </div>
</div>

<div class="continer">
  <div class="row">
    <div class="mx-auto mt-5">
      <ul>

        <h1>
          <li>
            <a href="/customers">
              <u>Customers</u>
            </a>
          </li>
        </h1>


        <h1 class="mt-3">
          <li>
            <a href="/orderlist">
              <u>Orders</u>
            </a>
          </li>
        </h1>

      </ul>
    </div>
  </div>
